<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/police/index">หน้าหลัก</a></li>
            <li><a href="#">รายงานสถิติ</a></li>
        </ol>
    </div>
</div>
<!--End Breadcrumb-->


<div class="row page-header">
    <div class="col-sm-8">
        <h4 class="">รายงานสถิติ</h4>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">

            <div class="col-md-3">
                <input  ng-model="statistics.start_date" type="text" class="form-control" id="id_datetime_picker1"/>
            </div>

            <label class="col-sm-3 control-label" style="width: auto"> ถึง </label>

            <div class="col-md-3">
                <input  ng-model="statistics.end_date" type="text" class="form-control" id="id_datetime_picker2"/>

            </div>
            <div class="col-md-2">
                <button ng-click="search_statistics()" type="button" class="form-control btn-danger">ดูสถิติ</button>

            </div>



    </div>
</div>

<br>

<div class="row" ng-if="datacase.length">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <h4>พบคดีจำนวน <% datacase.length %> คดี</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 5px">ลำดับ</th>
                            <th class="text-center">ชื่อคดี</th>
                            <th class="text-center">เลขคดี/ปี/สถานนีตำรวจ</th>
                            <th class="text-center">วันที่เกิดเหตุ</th>
                            <th class="text-center">บุคคลกระทำความผิด</th>

                        </tr>
                        </thead>

                        <tbody >

                        <tr ng-repeat="data_case in datacase">
                            <td class="text-center"><% $index+1 %></td>
                            <td class="text-center" ><a ng-click="viewCase(data_case)" ng-bind="data_case.name_case"></a></td>
                            <td class="text-center" ng-bind="data_case.number_case+'/'+data_case.year_number_case+'/'+data_case.station_number_case"></td>

                            <td class="text-center" ng-bind="data_case.date_case"></td>
                            <td  >
                                <table>
                                    <tbody>
                                    <tr ng-repeat="person in data_case.criminalhistory" bgcolor="">
                                        <td ><a ng-click="viewPerson(person)" ng-bind="' <% $index+1 %>. '+person.nametitle.name_title+' ' +person.name + ' ' +person.surname"></a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-if="person_crime.length">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <h4>พบบุคคลที่เกี่ยวข้องกับอาชญากรรมจำนวน <% person_crime.length %> คน</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 5px">ลำดับ</th>
                            <th class="text-center">เลขบัตรประชาชน/หนังสือเดืนทาง</th>
                            <th class="text-center">ประเภทบุคคล</th>
                            <th class="text-center">ชื่อ</th>
                            <th class="text-center">นามสกุล</th>
                            <th class="text-center" style="width: 20%">วันที่จับกุม</th>
                            <th class="text-center" style="width: 20%">คดี/ข้อหา</th>
                        </tr>
                        </thead>

                        <tbody >

                        <tr ng-repeat="person in person_crime">
                            <td class="text-center"><% $index+1 %></td>
                            <td class="text-center" ng-bind="person.idcard"></td>
                            <td class="text-center" ng-bind="person.typepeople"></td>
                            <td class="text-center" ng-bind="person.name"></td>
                            <td class="text-center" ng-bind="person.surname"></td>
                            <td class="text-center" ng-bind="person.date"></td>
                            <td >
                                <table>
                                    <tbody>
                                    <tr ng-repeat="data_cases in person.datacase" bgcolor="">
                                        <td ><a  ng-click="viewCase(data_cases)" ng-bind="' <% $index+1 %>. '+data_cases.name_case+' เลขคดี ' +data_cases.number_case + '/' +data_cases.year_number_case+'/'+data_cases.station_number_case"></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-if="person_general.length">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <h4>พบบุคลทั่วไปจำนวน <% person_general.length %> คน</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center" style="width:5px;">ลำดับ</th>
                            <th class="text-center">เลขบัตร</th>
                            <th class="text-center">ประเภทบุคคล</th>
                            <th class="text-center">ชื่อ</th>
                            <th class="text-center">นามสกุล</th>
                            <th class="text-center">วันที่บันทึก</th>
                            <th class="text-center">พฤติการอื่นๆ</th>

                        </tr>
                        </thead>

                        <tbody >

                        <tr ng-repeat="person_g in person_general">
                            <td class="text-center"><% $index+1 %></td>
                            <td class="text-center" ng-bind="person_g.idcard"></td>
                            <td class="text-center" ng-bind="person_g.typepeople"></td>
                            <td class="text-center" ng-bind="person_g.name"></td>
                            <td class="text-center" ng-bind="person_g.surname"></td>
                            <td class="text-center" ng-bind="person_g.date"></td>
                            <td class="text-center" ng-bind="person_g.other"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {


        $("#id_datetime_picker1").datetimepicker({
            timepicker:false,
            format:'วันที่ d เดือน F พ.ศ. Y ',
            lang:'th',  // แสดงภาษาไทย
            yearOffset:543,  // ใช้ปี พ.ศ. บวก 543 เพิ่มเข้าไปในปี ค.ศ
            closeOnDateSelect:true
        });




    });
</script>
<script type="text/javascript">
    $(function () {


        $("#id_datetime_picker2").datetimepicker({
            timepicker:false,
            format:'วันที่ d เดือน F พ.ศ. Y ',
            lang:'th',  // แสดงภาษาไทย
            yearOffset:543,  // ใช้ปี พ.ศ. บวก 543 เพิ่มเข้าไปในปี ค.ศ
            closeOnDateSelect:true
        });




    });
</script>

