

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="width: auto">
        <div class="modal-content" >
            <div class="modal-header">
                <h3>ข้อมูลบุคคลทั่วไป<% person.idcard %></h3>
            </div>
            <div class="modal-body">
                <div ng-include="'/app/person_general/_viewdata_person_general.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="width: auto">
        <div class="modal-content" >
            <div class="modal-header">
                <h3>ข้อมูลบุคคลที่เกี่ยวข้องกับอาชญากรรม<% guest.idcard %></h3>
            </div>
            <div class="modal-body">
                <div ng-include="'/app/person_general/_viewdata_person_crime.html'"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">

            <div class="box-content">
                <h4 class="page-header">ข้อมูลส่วนตัว</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width: auto">ประเภทบุคคล</label>
                        <div class="col-sm-2">

                            <input placeholder="ประเภทบุคคล" ng-model="guest.typepeople" type="text" class="form-control">
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-1 control-label" style="width: auto">ประเภทบัตร:</label>
                        <div class="col-sm-3">

                            <select ng-model="guest.typeidcard" class="form-control" >
                                <option value="" disabled selected>เลือกประเภทบัตร...</option>
                                <option value="0">เลขบัตรประจำตัวประชาชน</option>
                                <option value="1">เลขหนังสือเดินทาง</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input placeholder="เลขบัตร" ng-change="searchDataPerson(guest)" ng-model="guest.idcard" type="text" class="form-control">


                            <label  ng-if="dataperson_crime.length" class="control-label" style="width: auto;color: red"> พบประวัติเกี่ยวข้องกับอาชญากรรม</label>

                            <button ng-if="dataperson_crime.length" type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModa2" data-whatever="@mdo">ดูข้อมูล</button>

                            <label  ng-if="dataperson_general.length" class="control-label" style="width: auto;color: red"> บุลคลนี้เคยมีประวัติทั่วไปแล้ว</label>
                            <button ng-if="dataperson_general.length" type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal" data-whatever="@mdo">ดูข้อมูล</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label"  style=" width: auto">คำนำหน้า</label>

                        <div class="col-sm-2">

                            <input placeholder="คำนำหน้า" ng-model="guest.nametitle" type="text" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"  style=" width: auto">ชื่อ</label>

                        <div class="col-sm-3">
                            <input placeholder="ชื่อ" ng-model="guest.name" type="text" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"  style=" width: auto">ชื่อสกุล</label>

                        <div class="col-sm-3">
                            <input placeholder="ชื่อสกุล" ng-model="guest.surname" type="text" class="form-control">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-1 control-label"  style=" width: auto">อายุ</label>

                        <div class="col-sm-3">
                            <input placeholder="อายุ" ng-model="guest.age" type="number" class="form-control" name="mydateth" id="mydateth">

                        </div>
                        <label class="col-sm-1 control-label"  style=" width: auto">ปี</label>




                    </div>
                    <div class="form-group">

                    <label class="col-sm-1 control-label"  style=" width: auto">อาชีพ</label>

                    <div class="col-sm-3">
                        <input placeholder="อาชีพ" ng-model="guest.career" type="text" class="form-control">
                    </div>
            </div>





                </form>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <button type="button" ng-click="showTab('tab2')" class="btn btn-primary">ถัดไป</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
