<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/police/index">หน้าหลัก</a></li>
            <li><a ui-sref="home">จัดการประวัติบุคคลทั่วไป</a></li>
            <li><a href="#">ดูประวัติบุคคลทั่วไป</a></li>
        </ol>
    </div>
</div>
<!--End Breadcrumb-->


<div class="row page-header">
    <div class="col-sm-8">
        <h1 class="">ดูประวัติบุคคลทั่วไป</h1>
    </div>
    <div class="col-sm-4 text-right padding-top-20">
        <button type="button" ng-click="printPerson()" class="btn btn-primary"><i class="fa fa-print"></i> พิมพ์ประวัติ</button>
        <button type="button"  ui-sref="home" class="btn btn-success"><i class="fa fa-home"></i> กลับ</button></div>
    <!-- /.col-lg-12 -->
</div>


<div class="row" >
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search"></i>
                    <span>ดูประวัติบุคคลทั่วไป</span>
                </div>
                <div class="box-icons">
                    <a ui-sref="home">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>

                </div>
                <div class="no-move"></div>

            </div>
            <div class="box-content">

                <h4 class="page-header text-center">แบบประวัติบุคคลทั่วไป</h4>

                <form class="form-horizontal" role="form" >
                    <table align="center" border="0" width="100%">
                        <ol>

                            <tr>

                                <td colspan="3">ประเภทบุคคล : <label style="color: #0000C2" ng-bind="guest.typepeople"></label></td>
                                <td rowspan="5" align="center" style="font-family : sans-serif, Arial;">

                                    <img ng-if="!guest.photo" src="/img/square-image.png" width="156" height="156">

                                    <img ng-if="guest.photo" ng-src="<% guest.photo %>" width="156" height="156">


                                </td>

                            </tr>
                            <tr>
                                <td colspan="3"><li>ชื่อ-ชื่อสกุล : <label style="color: #0000C2" ng-bind="guest.nametitle.name_title+' '+guest.name+' '
                                +guest.surname"></label></td>

                            </tr>
                            <tr>

                                <td colspan="3"><li>อายุ : <label style="color: #0000C2" ng-bind="guest.age"></label></td>
                            </tr>

                            <tr>

                                <td colspan="3">&nbsp;&nbsp;&nbsp;ประเภทบัตร : <label ng-if="guest.typeidcard == 0" style="color: #0000C2">บัตรประชาชน</label>
                                    <label ng-if="guest.typeidcard == 1" style="color: #0000C2">หนังสือเดินทาง</label></td>

                            </tr>


                            <tr>

                                <td colspan="3">&nbsp;&nbsp;&nbsp;หมายเลขบัตร : <label style="color: #0000C2" ng-bind="guest.idcard"></label></td>

                            </tr>

                            <tr>
                                <td colspan="2"><li>ที่อยู่ปัจจุบัน : <label style="color: #0000C2" ng-bind="guest.addresspresent.present_address"></label></td>
                                <td colspan="2">โทร : <label style="color: #0000C2" ng-bind="guest.addresspresent.present_tel"></label></td>

                            </tr>


                            <tr>

                                <td colspan="2">&nbsp;&nbsp;&nbsp;ภูมิลำเนาเดิม : <label style="color: #0000C2" ng-bind="guest.addressoriginal.original_address"></label></td>
                                <td colspan="2">โทร : <label style="color: #0000C2" ng-bind="guest.addressoriginal.original_tel"></label></td>

                            </tr>

                            <tr>
                                <td colspan="4"><li>อาชีพ : <label style="color: #0000C2" ng-bind="guest.career"></label></td>
                            </tr>


                            <tr ng-repeat="addressoffice in guest.addressoffice">
                                <td colspan="1">&nbsp;&nbsp;&nbsp;สถานที่ทำงานที่ : <label style="color: #0000C2" ng-bind="' <% $index+1 %>. '+addressoffice.office"></label></td>
                                <td colspan="2">ที่ตั้ง : <label style="color: #0000C2" ng-bind="addressoffice.office_address"></label></td>
                                <td colspan="1">เบอร์โทร : <label style="color: #0000C2" ng-bind="addressoffice.office_tel"></label></td>
                            </tr>



                            <tr>

                                <td colspan="4"><li>การศึกษา : <label style="color: #0000C2" ng-bind="guest.education"></label></td>
                            </tr>
                            <tr>
                                <td colspan="2"><li>ชื่อบิดา-สกุล : <label style="color: #0000C2" ng-bind="guest.datafather.father_name +' '+ guest.datafather.father_surname"></label></td>
                                <td colspan="1">อายุ : <label style="color: #0000C2" ng-bind="guest.datafather.father_age"></label></td>
                                <td colspan="1">มีชีวิต/เสียชีวิต : <label style="color: #0000C2" ng-bind="guest.datafather.father_live_died"></label></td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;&nbsp;&nbsp;ที่อยู่ : <label style="color: #0000C2" ng-bind="guest.datafather.father_address"></label></td>
                                <td colspan="1">โทร : <label style="color: #0000C2" ng-bind="guest.datafather.father_tel"></label></td>
                            </tr>

                            <tr>
                                <td colspan="1">&nbsp;&nbsp;&nbsp;อาชีพ : <label style="color: #0000C2" ng-bind="guest.datafather.father_career"></label></td>
                                <td colspan="2">ที่ทำงาน : <label style="color: #0000C2" ng-bind="guest.datafather.father_nameoffice"></label></td>
                                <td colspan="1">โทร : <label style="color: #0000C2" ng-bind="guest.datafather.father_nameoffice_tel"></label></td>

                            </tr>

                            <tr>
                                <td colspan="2"><li>ชื่อมารดา :  <label style="color: #0000C2" ng-bind="guest.datamother.mother_name+' '+guest.datamother.mother_surname"></label></td>
                                <td colspan="1">อายุ : <label style="color: #0000C2" ng-bind="guest.datamother.mother_age"></label></td>
                                <td colspan="1">มีชีวิต/เสียชีวิต : <label style="color: #0000C2" ng-bind="guest.datamother.mother_live_died"></label></td>


                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;&nbsp;&nbsp;ที่อยู่ : <label style="color: #0000C2" ng-bind="guest.datamother.mother_address"></label></td>
                                <td colspan="1">โทร : <label style="color: #0000C2" ng-bind="guest.datamother.mother_tel"></label></td>
                            </tr>
                            <tr>
                                <td colspan="1">&nbsp;&nbsp;&nbsp;อาชีพ : <label style="color: #0000C2" ng-bind="guest.datamother.mother_career"></label></td>
                                <td colspan="2">ทำงาน : <label style="color: #0000C2" ng-bind="guest.datamother.mother_nameoffice"></label></td>
                                <td colspan="1">โทร :  <label style="color: #0000C2" ng-bind="guest.datamother.mother_nameoffice_tel"></label></td>

                            </tr>

                            <tr>
                                <td colspan="2"><li>ชื่อสามี/ภรรยา : <label style="color: #0000C2" ng-bind="guest.dataspouse.nametitle.name_title+' '+guest.dataspouse.spouse_name+' '+guest.dataspouse.spouse_surname"></label></td>
                                <td colspan="1">อายุ : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_age"></label></td>
                                <td colspan="1">มีชีวิต/เสียชีวิต : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_live_died"></label></td>


                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;&nbsp;&nbsp;ที่อยู่ : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_address"></label></td>
                                <td colspan="1">โทร : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_tel"></label></td>

                            </tr>
                            <tr>
                                <td colspan="1">&nbsp;&nbsp;&nbsp;อาชีพ : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_career"></label></td>
                                <td colspan="2">ที่ทำงาน : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_nameoffice"></label></td>
                                <td colspan="1">โทร : <label style="color: #0000C2" ng-bind="guest.dataspouse.spouse_tel"></label></td>

                            </tr>


                            <tr ng-repeat="datachild in guest.datachild">
                                <td colspan="4"><li>บุตรคนที่ : <label style="color: #0000C2" ng-bind="' <% $index+1 %>. ' +datachild.nametitle.name_title +' ' +datachild.child_name+' '+datachild.child_surname
            +'  อายุ '+ datachild.child_age+' ( '+datachild.child_live_died+' ) ที่อยู่ ' + datachild.child_address
            +' โทร '+ datachild.child_tel + '  อาชีพ ' + datachild.child_career"></label></td>


                            </tr>

                            <tr ng-repeat="vehicle in guest.vehicle">
                                <td colspan="4"><li>พาหนะที่ : <label style="color: #0000C2" ng-bind="' <% $index+1 %>. ยี่ห้อ '+vehicle.vehicle_brand
            +'  รุ่น '+ vehicle.vehicle_generation+' เลขทะเบียน ( '+vehicle.vehicle_number+' '+vehicle.vehicle_group
            +' '+vehicle.vehicle_province+' ) สี ' + vehicle.vehicl_color"></label></td>


                            </tr>
                            <tr ng-repeat="personfamily in guest.personfamily">
                                <td colspan="4"><li>บุคคลอื่นๆในครอบครัว : <label style="color: #0000C2" ng-bind="' <% $index+1 %>. '+personfamily.nametitle.name_title+' '
                                +personfamily.personfamily_name+' '+personfamily.personfamily_surname
            +'  อายุ '+ personfamily.personfamily_age+' เลขบัตรประจำตัว '+personfamily.personfamily_idnumber+' ที่อยู่ ' + personfamily.personfamily_address
            +' โทร '+ personfamily.personfamily_tel + '  อาชีพ ' + personfamily.personfamily_career
            + '  ที่ทำงาน ' + personfamily.personfamily_nameoffice"></label></td>


                            </tr>

                            <tr ng-repeat="employee in guest.employee">
                                <td colspan="4"><li>บุคคลอื่นๆในครอบครัว : <label style="color: #0000C2" ng-bind="' <% $index+1 %>. '+employee.nametitle.name_title+' '
                                +employee.employee_name+' '+employee.employee_surname
            +'  อายุ '+ employee.employee_age+' เลขบัตรประจำตัว '+employee.employee_idnumber+' ที่อยู่ '
             + employee.employee_address"></label></td>


                            </tr>



                            <tr>
                                <td colspan="4"><li>พฤติการอื่นๆที่หน้าสนใจ : <label style="color: #0000C2" ng-bind="guest.other"></label></td>

                            </tr>



                        </ol>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

