
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">

            <div class="box-content">
                <h4 class="page-header">ข้อมูลส่วนตัว</h4>
                <form class="form-horizontal" role="form">

                    <div class="form-group">

                        <label class="col-sm-1 control-label" style="width: auto">ประเภทบุคคล</label>

                        <div class="col-sm-3">
                            <input ng-model="person.typepeople" type="text" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="person.typeidcard" class="form-control" >
                                <option value="" disabled selected>เลือกประเภทบัตร...</option>
                                <option value="0">เลขบัตรประจำตัวประชาชน</option>
                                <option value="1">เลขหนังสือเดินทาง</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <input ng-model="person.idcard" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width: auto">คำนำหน้า</label>

                        <div class="col-sm-3">
                            <input placeholder="คำนำหน้า" ng-model="person.nametitle" type="text" class="form-control">

                        </div>
                        <label class="col-sm-1 control-label" style="width: auto">ชื่อ</label>

                        <div class="col-sm-3">
                            <input ng-model="person.name" type="text" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label" style="width: auto">ชื่อสกุล</label>

                        <div class="col-sm-3">
                            <input ng-model="person.surname" type="text" class="form-control">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width: auto">นามเเฝง</label>

                        <div class="col-sm-3">
                            <input ng-model="person.alias" type="text" class="form-control">

                        </div>
                        <label class="col-sm-1 control-label" style="width: auto">อายุ</label>

                        <div class="col-sm-3">
                            <input placeholder="อายุ" ng-model="person.age" type="number" class="form-control" name="mydateth" id="mydateth">

                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width: auto">อาชีพ</label>

                        <div class="col-sm-3">
                            <input type="text" ng-model="person.career" class="form-control" >
                        </div>

                        <label class="col-sm-1 control-label" style="width: auto">การศึกษา</label>

                        <div class="col-sm-3">
                            <input type="text" ng-model="person.education" class="form-control" >
                        </div>

                    </div>
                    <div class="form-group">

                        <label class="col-sm-1 control-label" style="width: auto">วันที่จับกุม</label>

                        <div class="col-sm-6">
                            <label ng-bind="person.date"  class="control-label" disabled></label>
                        </div>


                    </div>

                </form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <button type="button" ng-click="showTab('tab2')" class="btn btn-primary">ถัดไป</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>