<div ng-controller="PersonController as pc">



    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="box">
                <div class="box-content"  id="scroll_edit" >
                    <h4 class="page-header">ค้นหาบุคคลที่เกี่ยวข้องกับอาชญากรรม</h4>
                    <div class="text-right">
                        <a target="_blank" type="button" ng-href="/police/person_crime#/form_add/add" class="btn btn-success"><i class="fa fa-user-plus"></i> เพิ่มใหม่</a>
                    </div>
                    <form class="form-horizontal" role="form">
                        <table class="table table-striped table-hover ">
                            <thead>
                            <tr>

                                <th>
                                    <input ng-change="pc.searchPerson(keyword)" class="form-control" ng-model="keyword.idcard" type="text" placeholder="ค้นหา เลขบัตร...">
                                </th>
                                <th>
                                    <input ng-change="pc.searchPerson(keyword)" class="form-control" ng-model="keyword.name" type="text" placeholder="ค้นหา ชื่อ...">
                                </th>
                                <th>
                                    <input ng-change="pc.searchPerson(keyword)" class="form-control" ng-model="keyword.surname" type="text" placeholder="ค้นหา นามสกุล...">
                                </th>
                                <th>วันที่บันทึกข้อมูล
                                </th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr ng-repeat="person in pc.dataPerson | filter:search">


                                <td ng-bind="person.idcard"></td>
                                <td ng-bind="person.name"></td>
                                <td ng-bind="person.surname"></td>
                                <td ng-bind="person.date"></td>

                                <td>
                                    <a ng-click="pc.add_person(person)" type="submit" type="button" name="deletepolice"><i
                                            class="fa fa-plus-circle fa-2x"></i></a>

                                </td>

                            </tr>


                            </tbody>
                            <tbody>


                            <tr ng-if="!pc.dataPerson.length">


                                <td class="text-center" colspan="4"> ไม่พบข้อมูล!!! </td>


                            </tr>


                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5">
            <div class="box">
                <div class="box-content"  id="scroll_person" >
                    <h4 class="page-header">รายการบุคคลที่เกี่ยวข้องกับอาชญากรรม</h4>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                            <th>เลขบัตร</th>
                            <th>ชื่อ-สกุล</th>
                            <th>วันที่บันทึกข้อมูล</th>
                            <th>#</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="case_person in casePerson">

                            <td ng-bind="case_person.idcard"></td>
                            <td ng-bind="case_person.name + ' ' + case_person.surname"></td>
                            <td ng-bind="case_person.date"></td>


                            <td>
                                <a ng-click="pc.del_person(case_person)" type="button"
                                        aria-label="Left Align">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </a>

                            </td>


                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>